li {
    display: inline;
}
.left {
    float:left;
}
.right {
    float:right;
}
.footer {
	position:fixed;
	margin:0;
	padding:0;
	left:0;
	bottom:0;
	width:100%;
}
.center{
	padding-top: 70px;
	text-align: center;
	}
