ul {
	margin:10px;
}
li {
    display: inline;
    padding:10px;
    font-family:arial, sans-serif;
    font-size:small;
    color:gray;
}

.container {
	width:100%;
}
.left {
	margin-left:-30px;
    float:left;
}
.right {
    float:right;
    margin-right:10px;
}
.header {
	position:fixed;
	width:100%;
	padding:0px;
}

.center{
	width:100%;
	position:absolute;
	margin-top: 175px;
	text-align: center;
	}
.search input {
	margin-top:10px;
	width:33%;
	padding: 10px;
	font-size:medium;
}
.button input {
	text-align:center;
	margin-top:25px;
	margin-left:10px;
	font-weight:bold;
	padding:15px;
	border:0px;
	color:gray;
	font-size:13px;
}
.footer {
	position:fixed;
	margin:0;
	padding:0;
	left:0;
	bottom:0;
	width:100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}